@{
    ViewData["Title"] = "Home Page";
}
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{

    var userName = HttpContextAccessor.HttpContext.Request.Cookies["CustName"];
}
<div class="text-center">
    <h1 class="display-4">Welcome, @userName</h1>
    <p>We provide all storage needs.</p>
</div>
