@{
    ViewData["Title"] = "Home Page";
}
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{

    var userName = HttpContextAccessor.HttpContext.Request.Cookies["CustName"];
}
<div class="text-center">
    <h1 class="display-4">Welcome, @userName</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
