@model Models.Product
@{
    ViewData["Title"] = "Create";
}

<h1>@ViewBag.Store.Name</h1>

<h4>Create Product</h4>
<p>@ViewBag.Store.City, @ViewBag.Store.State</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="StoreId" type="hidden" class="form-control" />
            <div class="form-group">
                <label asp-for="ProdName" class="control-label"></label>
                <input asp-for="ProdName" class="form-control" />
                <span asp-validation-for="ProdName" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Ch" class="control-label"></label>
                <input asp-for="Ch" class="form-control" />
                <span asp-validation-for="Ch" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="ProdPrice" class="control-label"></label>
                <input asp-for="ProdPrice" class="form-control" />
                <span asp-validation-for="ProdPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProdStock" class="control-label"></label>
                <input asp-for="ProdStock" class="form-control" />
                <span asp-validation-for="ProdStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" asp-route-Id="@Model.StoreId">Back to List</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
